/*
!/.gitignore
!/PowerShell/
!/PowerShell/GUI/
!/PowerShell/GUI/FileRenamer/
!/PowerShell/WindowsPowerShell/
!/PowerShell/WindowsPowerShell/Modules/
!/PowerShell/WindowsPowerShell/Modules/graphics/
!/PowerShell/WindowsPowerShell/Modules/tools/
!/PowerShell/WindowsPowerShell/Modules/video/
!/Python/
!/Python/AvidProjBackUP/
!/Python/AvidProjBackUP/JOBtask/
/PowerShell/*
/PowerShell/GUI/*
/PowerShell/GUI/FileRenamer/*
/PowerShell/WindowsPowerShell/*
/PowerShell/WindowsPowerShell/Modules/*
/PowerShell/WindowsPowerShell/Modules/graphics/*
/PowerShell/WindowsPowerShell/Modules/tools/*
/PowerShell/WindowsPowerShell/Modules/video/*
/Python/*
/Python/AvidProjBackUP/*
/Python/AvidProjBackUP/JOBtask/*
!/PowerShell/Convert2.ps1
!/PowerShell/BackupFiles.ps1
!/PowerShell/ripDVD.ps1
!/PowerShell/authorDVD.ps1
!/PowerShell/MKVripper.ps1
!/PowerShell/dvd.xml
!/PowerShell/SynBackUP.ps1
!/PowerShell/GUI/FileRenamer/FileRenamerGUI.ps1
!/PowerShell/GUI/FileRenamer/rename128x128.ico
!/PowerShell/WindowsPowerShell/Microsoft.PowerShell_profile.ps1
!/PowerShell/WindowsPowerShell/Modules/graphics/graphics.psm1
!/PowerShell/WindowsPowerShell/Modules/tools/tools.psm1
!/PowerShell/WindowsPowerShell/Modules/video/video.psm1
!/Python/AvidProjBackUP/projectBackUP.py
!/Python/AvidProjBackUP/JOBtask/ProjectBackup1.rcj
!/Python/AvidProjBackUP/JOBtask/ProjectBackup2.rcj
!/README.md
.DS_Store
